.button--medium {
  font-size: 14px;
  padding: 8px;
}

.button--large {
  font-size: 26px;
  padding: 10px;
}

.button--primary {
  background-color: #ffd324;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
}

.button--secondary {
  background: linear-gradient(#424141, #000000);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 3.5px 3.5px 3.5px #bdbdbd;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .button--large {
    font-size: 20px;
    padding: 10px;
  }
}
