.profile-preview-image {
  height: 200px;
  background-position: "center";
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile-preview-image-overlay-item {
  background-color: #131313;
  padding: 10px;
}

.icons-container {
  margin: auto;
  width: 80%;
}
