.inbox-background-container {
  background-image: url("https://images.unsplash.com/photo-1517230878791-4d28214057c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 80vh; */
}

.inbox-flex-container {
  display: flex;
}

.inbox-side-panel {
  border: 1px solid white;
  width: 30%;
  min-height: 91vh;
  background-color: black;
}

.inbox-main-panel {
  border: 1px solid white;
  background-color: #131313c5;
  width: 70%;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
}

.conversations-list {
  list-style: none;
  padding: 0;
}

.conversations-list-item {
  background-color: transparent;
  width: 100%;
  border: 1px white solid;
  height: 5rem;
}

.conversations-list-item:hover {
  background-color: darkgray;
  color: black;
}

.conversations-list-item li {
  display: flex;
  align-content: center;
}

.profile-inbox-image {
  display: inline-block;
  position: relative;
  height: 4rem;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.profile-inbox-image img {
  width: 4rem;
  height: 100%;
  border-radius: 50%;
}

.current-message-list {
  height: 70vh;
  overflow-y: scroll;
}

.current-user-message {
  background-color: darkgray;
  width: 40%;
  /* height: 3rem; */
  border-radius: 1rem;
  color: black;
  position: relative;
  left: 55%;
  margin: 1rem 0;
  padding: 1rem 0;
}

.other-user-message {
  background-color: yellow;
  width: 40%;
  /* height: 3rem; */
  border-radius: 1rem;
  color: black;
  margin: 1rem;
  padding: 1rem 0;
}

.inbox-input-form {
  display: flex;
}

.inbox-text-area {
  margin: auto;
  padding: 1rem;
  width: 100%;
  border-radius: 5%;
  height: 5rem;
  background: rgb(56, 55, 55);
  box-shadow: 1px 0px 10px -1px rgba(255, 255, 255, 0.49);
}

.inbox-text-area::placeholder {
  color: #aaaaaa;
}
