.profile-container {
  background-image: url("https://images.unsplash.com/photo-1598195262096-b4f6fa993360?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 98vh;
}

.profile-title-div {
  position: relative;
}

.create-band-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 3rem;
}

.accordion-heading-override {
  padding: 5px;
  border-bottom: #ffd324;
  border-bottom-style: solid;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
