.form-element {
  margin: 1rem 2rem;
}

.form-input {
  margin: auto;
  padding: 0 1rem;
  width: 100%;
  border-radius: 5%;
  height: 48px;
  background: rgb(56, 55, 55);
  box-shadow: 1px 0px 10px -1px rgba(255, 255, 255, 0.49);
}

.form-input::placeholder {
  color: #aaaaaa;
}

.form-input--error::placeholder {
  color: yellow;
  font-size: 1.1rem;
}
