.button-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown-div {
  display: block;
  padding: 0 2rem;
  border-radius: 5%;
}

.select-label {
  margin: 1rem 0;
}

.select-dropdown {
  width: 100%;
  color: white;
  height: 2.5rem;
  padding: 0 0.5rem;
  background-color: #808080;
}

.select-dropdown:active {
  background-color: rgb(104, 103, 103);
}

.option-text {
  color: white;
}

.error-message {
  margin-left: 2.5rem;
}
