@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.nav-bar {
  color: white;
  background-color: #323232;
  padding: 1% 2%;
  font-family: "Roboto Mono", monospace;
  top: 0;
  z-index: 1000;
}

.dropdown-nav {
  justify-content: flex-end;
}

.nav-bar-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: white !important;
  margin: 0 1rem;
}

.nav-bar-link:hover {
  transform: scale(1.05);
}

.dropdown-menu-item {
  opacity: 1 !important;
}

.logout-btn {
  background-color: unset;
  width: 100%;
  color: rgb(48, 48, 48) !important;
  border: none;
  margin: auto;
}

.logout-btn:hover {
  background-color: #bdbdbd;
  border: none;
  margin: auto;
}

@media screen and (max-width: 990px) {
  .logout-btn {
    background-color: grey;
    border-radius: 2%;
    margin: 1rem 0;
  }
}
