.signup-container,
.signup-choice-container {
  background-image: url("https://images.unsplash.com/photo-1501612780327-45045538702b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-div {
  padding-top: 2rem;
}

.signup-link {
  color: #ffd324;
}

.signup-link:hover {
  color: white;
}

.select-user-type-form {
  background-color: black;
  height: 25rem;
  width: 50%;
  color: white;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 5%;
  box-shadow: 1px 0px 59px -1px rgba(255, 255, 255, 0.49);
}

.user-signup-title {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.user-types-flex-container {
  display: flex;
  height: 70%;
  align-items: center;
  padding-top: 1.5rem;
}

.user-signup-div,
.venue-signup-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.user-signup-div {
  border-right: 1px white solid;
}
.venue-signup-div {
  border-left: 1px white solid;
}

.user-info-text {
  margin: 0 1.5rem;
  font-size: 0.9rem;
  padding-top: 2rem;
  height: 15rem;
}

.user-type-button {
  text-decoration: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem 2rem;
  background-color: #ffd324;
  color: #131313;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #a5a4a4;
  letter-spacing: 1px;
}

.user-type-button:hover {
  transform: scale(1.02);
  text-decoration: none;
  color: #131313;
}

@media screen and (max-height: 700px) {
  .signup-container {
    height: unset;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .user-signup-div,
  .venue-signup-div {
    width: 100%;
    border: none;
    height: 50%;
    padding: 1.5rem 0;
    margin-bottom: 3rem;
  }
  .user-types-flex-container {
    display: block;
  }
  .select-user-type-form {
    height: 30rem;
    width: 90%;
    margin-top: 0rem;
  }
  .user-type-button {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 560px) {
  .user-signup-title {
    font-size: 1.3rem;
  }
  .select-user-type-form {
    height: 32rem;
  }
}

@media screen and (max-width: 480px) {
  .user-signup-title {
    font-size: 1.1rem;
  }
}
