@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  color: white;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  text-transform: uppercase;
  padding: 3px;
}

.black-text {
  color: #131313 !important;
}

.title {
  font-size: 22px;
  margin-top: 6px;
  font-weight: 500;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.gutter {
  margin-left: 50px;
  margin-right: 50px;
}

.p-yellow {
  color: #ffd324;
}

.lowercase-text {
  text-transform: lowercase;
}

.regular-text {
  text-transform: none;
}

.solid-background {
  background-color: #131313;
}

.see-through-background-90 {
  background-color: #131313c5;
}

.see-through-background-98 {
  background-color: #131313e7;
}

.text-align-center {
  text-align: center;
}

.text-limit-one-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cards-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.flex-apart {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .gutter {
    margin-left: 10px;
    margin-right: 10px;
  }
}
